@font-face{
	font-family: 'NotoSans_black';
	src: url('./font/NotoSansKR-Black.otf');
}
@font-face{
	font-family: 'NotoSans_Bold';
	src: url('./font/NotoSansKR-Bold.otf');
}
@font-face{
	font-family: 'NotoSans_DemiLight';
	src: url('./font/NotoSansKR-DemiLight.otf');
}
@font-face{
	font-family: 'NotoSans_Light';
	src: url('./font/NotoSansKR-Light.otf');
}
@font-face{
	font-family: 'NotoSans_Medium';
	src: url('./font/NotoSansKR-Medium.otf');
}
@font-face{
	font-family: 'NotoSans_Regular';
	src: url('./font/NotoSansKR-Regular.otf');
}
@font-face{
	font-family: 'NotoSans_Thin-Windows';
	src: url('./font/NotoSansKR-Thin-Windows.otf');
}



@media (max-width: 300px){html{font-size: 4vw;}}
@media (min-width:301px) and (max-width:400px){html{font-size:4vw;}}
@media (min-width:401px) and (max-width:500px){html{font-size:4vw;}}
@media (min-width:501px) and (max-width:600px){html{font-size:4vw;}}
@media (min-width:601px) and (max-width:700px){html{font-size:3vw;}}
@media (min-width:701px) and (max-width:800px){html{font-size:2vw;}} /* change to mobile*/
@media (min-width:801px) and (max-width:900px){html{font-size:2vw;}}
@media (min-width:901px) and (max-width:1024px){html{font-size:1.5vw;}}
@media (min-width:1025px) and (max-width:1330px){html{font-size:1.5vw;}}
@media (min-width:1331px) and (max-width:1800px){html{font-size:1vw;}}
@media (min-width:1801px) and (max-width:1979px){html{font-size:22px;}}
@media (min-width:1980px){ html{ font-size: 25px; } }
/*@media (min-width:2001px) and (max-width:2200px){html{font-size:1vw;}}
@media (min-width:2001px){html{font-size:1vw;}}
*/
