html, body, container, footer, header{
	padding : 0;
	margin: 0;
	font-family: "NotoSans_Light";

	text-align:center;
}

body > *{
	text-align: left;
}

div#wrap,div#app{
	height: auto;
	position: relative;
}
div#wrap{
	display: block;
	text-align: center;
}
div#app{
	text-align: left;
	display: inline-block;
	max-width: 1920px;
	width: 100%;
}
header{
	text-align: left;
	display: inline-block;
	margin-top: 2rem;
	width: 99%;
	height: 3rem;
	line-height: 3rem;
	font-size: 2rem;
	font-family: "Pangolin";

	border: .1rem solid #000000;
	border-radius: 1rem;
}
header::selection{
	background: none;
	color: black;
}
	header > a{
		display: inline-block;
		margin-left: 2rem;
		color: #333;
		text-decoration: none;
	}
	header > a:hover, header > a:visited, header > a:linked, header > a:active{
		color: #333;
		text-decoration: none;
	}

container#main{
	display: inline-block;
	max-width: 1920px;
	width: 100%;
	min-height: 80vh;
	height: 80vh;
	overflow: visible;
	text-align: center;
	
	font-size: 0;

	
}

	container#main > * {
		font-size: 1rem;
		vertical-align: top;
		height: 100%;
	}


	container#main > div#userBox{
		display: inline-block;	
		width: 13%;

		height: auto;
		

		overflow: auto;

		max-height: 100%;
		border: .1rem solid #000000;
		border-radius: .3rem;
	}
		container#main > div#userBox > ul.users{
			display: inline-block;
			width: 90%;
			height: auto;
			padding: 5%;
		}
			container#main > div#userBox > ul.users > li.user{
				display: inline-block;
				list-style: none;
				width: 96%;
				margin: 2%;

				height: 3rem;

				background: #ffffff;

				border: .1rem solid #000000;
				border-radius: .3rem;

				line-height: 3rem;


			}
	container#main > div#playBoard{
		display: inline-block;
		width: 48%;
		min-height: 100%;
		margin-left: .3rem;
		margin-right: .3rem;
	}
		container#main > div#playBoard > div#canvasBox{
			width: 100%;
			height: 80%;
			background: white;

			border: .1rem solid #000000;
			border-radius: .3rem;
		}
			container#main > div#playBoard > div#canvasBox > canvas#canvas{
				width: 100%;
				height: 100%;
			}
		container#main > div#playBoard > div#toolBox{
			width: 98%;
			margin: 1%;
			height: 19%;
		}
			container#main > div#playBoard > div#toolBox > div{
				width: 100%;
				height: 50%;
			}
			container#main > div#playBoard > div#toolBox > div#colorBox{
				background: red;
			}
				container#main > div#playBoard > div#toolBox > div#colorBox > ul#colors{
					display: inline-block;
					width: 100%;
					height: 100%;
					list-style: none;
					text-align: left;
				}
					container#main > div#playBoard > div#toolBox > div#colorBox > ul#colors > li{
						display: inline-block;
						margin-right: .5rem;
						width: 2rem;
						height: 2rem;
						background: white;
					}

			container#main > div#playBoard > div#toolBox > div#brushBox{
				background: yellow;
			}			
				container#main > div#playBoard > div#toolBox > div#brushBox > ul#brushs{
					display: inline-block;
					width: 100%;
					height: 100%;
					list-style: none;
					text-align: left;
				}
					container#main > div#playBoard > div#toolBox > div#brushBox > ul#brushs > li{
						display: inline-block;
						margin-right: .5rem;
						width: 2rem;
						height: 2rem;
						background: white;
					}

	container#main > div#chat{
		position: relative;
		display: inline-block;
		width: 33%;
		min-height: 100%;
		border: .1rem solid #000000;
		border-radius: .3rem;	
	}
		container#main > div#chat > div.chatHistory{
			position: relative;
			display: inline-block;
			
			width: 90%;
			height: 90%;
			padding: 5%;
			padding-bottom: 0;


			overflow-y: auto;
			overflow-x: hidden;

			top : 0;
			left : 0;

			text-align: left;
		
		}
			container#main > div#chat > div.chatHistory > div.msg{
				display: inline-block;
				width: 90%;
				margin: 2%;
				padding : .2rem;

			}
				container#main > div#chat > div.chatHistory > div.msg > span.sender{
					display: inline-block;
					width: 100%;
					height: 2rem;
					font-weight: bold;
				}
				container#main > div#chat > div.chatHistory > div.msg > span.contents{
					display: inline-block;
					width: 100%;
				}

			container#main > div#chat > div.inputBox{
				position: absolute;
				display: inline-block;
				width: 100%;
				height: 5rem;

				bottom : 0;
				left : 0;
				font-size : 0;
				padding-bottom: .5rem;
			}
				container#main > div#chat > div.inputBox > * {
					font-size: 1rem;
				}

				container#main > div#chat > div.inputBox > textarea#chatInput{
					padding: 0;
					margin : 0;
					resize : none;

					font-size: 1.2rem;

					display: inline-block;
					width: 83%;
					height: 100%;
					vertical-align: top;

					border : .1rem solid #aaaaaa;
					border-radius : .2rem;

				}

				container#main > div#chat > div.inputBox > input[type=button]{
					display: inline-block;
					width: 15%;
					height: 100%;
					vertical-align: top;
				}