html, body, container, footer, header{
	padding : 0;
	margin: 0;
	font-family: "NotoSans_Light";
}

div#wrap,div#app{
	height: auto;
	position: relative;
}
div#wrap{
	display: block;
	text-align: center;
}
div#app{
	text-align: left;
	display: inline-block;
	max-width: 1920px;
	width: 100%;
}
header{
	display: inline-block;
	padding-top: 2rem;
	padding-bottom: 2rem;
	width: 100%;
	height: 3rem;
	font-size: 2rem;
	font-family: "Pangolin";
}
header::selection{
	background: none;
	color: black;
}
	header > a{
		display: inline-block;
		margin-left: 2rem;
		color: #333;
		text-decoration: none;
	}
	header > a:hover, header > a:visited, header > a:linked, header > a:active{
		color: #333;
		text-decoration: none;
	}

container#main{
	display: inline-block;
	width: 100%;
	height: 70vh;
	text-align: center;
}


	container#main > div.userContainer{
		display: inline-block;
		width: 20%;
		background-color: blue;
		height: 100%;
	}
	container#main > div#playBoard{
		display: inline-block;
		height: 100%;
		width: 59%;
	}
	


container#chat{
	display: inline-block;
	width: 100%;
	height: 20vh;
}
	container#chat > div.chattingBox{
		display: inline-block;
		width: 100%;
		height: 60%;

		overflow: auto;
	}
	container#chat > textarea#chatInput{
		display: inline-block;
		width: 78%;
		height: 30%;
		vertical-align: top;
	}

	container#chat > input[type=button]{
		display: inline-block;
		width: 20%;
		height: 30%;
		vertical-align: top;
	}



footer{
	display: inline-block;
	width: 100%;
	height: 2rem;

}